// palette colori
//colore del testo principale e secondario nella pagina course portal
$main-page-text: #3f3a64;
$secondary-text: #8c89a2;

// colore testo principale e secondario nelle altre pagine
$seondary-page-text: #333;
$main-gray: #696969;

// il verde principale usato in tutto il sito
$main-green: #20ad96;

//altri colori
$white: #fff;
$bg-lightgray: #f5f7fa;
$carousel-bg: #f8f8f8;
$most-viewed-bg: #f5f1ed;
